name: Build

on:
  push:
    branches:
      - "*"
    tags-ignore:
      - "*"
    paths-ignore:
      - "**.md"
      - ".vscode/**"
      - ".devcontainer/**"
  pull_request:

jobs:
  build:
    name: Build & Test
    strategy:
      matrix:
        os: [ubuntu-latest]
        dotnet: [6.0.402]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - name: Restore
        run: dotnet tool restore && dotnet run restore
      - name: Build
        run: dotnet run build
      - name: Test
        run: dotnet run test
